p {
	text-indent: 0px;
	padding-bottom: 1px;
}
.col-sm-4 {
	background-color: #e6e3ed;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #ff9999;
   	background: #ffff00;
}
footer {
	text-align: center;
	padding: 25px 0 15px 0;
}