/* found the double slash works as a single line comment */

body {
	background-color: #7a5a4a;
	//border: red;
	//border-width: 2px;
	//border-style: solid;
	width: 102%;
	height: 102vh;
}

a {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #000000;
    	text-decoration: none;
    	padding-right: 8px;
    	border-radius: 0 15px 15px 0;
   	background: #ea6437;
}

div.container {
	margin: 20px 0 0 10px;
	padding-left: 2em;
	background-color: #727272;
	width: 80vw;
	box-shadow: 20px 20px 8px #222222;
	overflow-x: hidden;
	

	
}

h1 {
    	font-family:'Open Sans', sans-serif;
    	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
 	line-height:50px;
	font-weight:900;
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#014992;
}

h1::after {		/* draws a line under the h1 content */
	display: block;
	content: "";
	height: 4px;
	width: 75%;
	background: #2b5b30;
	margin: 3px auto 20px;
}

h2 {
	font-family:'Brush Script MT', cursive;
	font-size: 24px;
	color:#000000;
}
h2#blankSpace {
	float: left;
	margin: 0 1.5%;
	//background-color: #222222;
	//width: 50%;
	//height: 10px;
}
h2#myName {
	float: right;
	margin-right: 0px;
	width: 40%;
	white-space: nowrap;
	
}

h2 ol {
	
	line-height:5px;
	text-align: left;
	
}

h3, h4, h5, h6 {
	font-family: Fixed, monospace;
}



h3 {
	clear: both;
	font-size: 22px;
    line-height:20px;
    padding:20px 2px;
    width: 90%;
    background-color: #fbf36f
}
h4 {
	padding-top: 0px;
	line-height: 0px;
	padding-bottom: 0px;
	font-size: 20px;
	font-weight: 900;

}

p {
	text-indent: 50px;
	font-size: 18px;
	font-weight:300;
	line-height:5px;
	padding-bottom:15px;
	margin-right: 110px;
}

p#PHP_Basics{
	width: 450px;
}
footer {
	padding-top: 100px;
	opacity: 0;
}