/* CSS Page Reset */
/*
* {
	padding: 0;
	margin: 0;
	
}
*/

body {
	background-color: #B2A8A8;
}
#container {
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	background-color: #b7b7b7;
	border: 3px solid green;
	width: 600px;
	margin:0 auto;
	padding: 0 10px;
	padding-bottom: 25px;
}

h1 {
	line-height:50px;
	font-weight:900;
	font-size:34px;
	text-transform:uppercase;
	text-align:center;
	color:#4A66FD;
	border: #990218;
	border-style: solid;
	border-width: 2;
	margin: 25px 15px 0 15px;
}

h2 {
	padding-top: 50px;
	color:#424242;
	text-align:center;
}
h2#returnHome a {
	font-size: 20px;
	background-color: none;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: 20;
	}

	/* Standard syntax */
	@keyframes example {
		from {background-color: red;}
		to {background-color: yellow;}
	}

h2#returnHome a:hover {
	animation-name: example2;
	animation-duration: 2s;
	animation-iteration-count: 20;
	}
	@keyframes example2 {
		from {background-color: red;}
		to {background-color: yellow;}
	}

	
h3 {
	padding: 10px;
}

p {
	line-height: 20px;
	padding: 5px;
	margin: 5px;
}
li {
	margin-right: 35px;
}
ol li {
	padding-bottom: 5px;
	font-weight: bold;
}
ul li {
	padding-bottom: 35px;
	font-weight: 200;
}