/* // found the double slash works as a single line comment */
/* use # for ID */
/* use . for class */

/* Reset all CSS */
* 	{
	margin: 0px;
	padding: 0px;
}
body {
	//background-color: #c0c4fa;
}	
#container {
	position: relative;
	border: 5px solid red;
	background-color: #dcdccd;
	box-shadow: 0px 0px 45px red;
	margin: 45px auto;
    	width: 80%;
    	padding: 25px;
	
}

#projectForm {
	//border: 3px solid green;
	padding: 8px 8px 20px 5px;
}
#customerName {
	//border: 3px solid orange;
	padding: 8px 8px 2px 5px;

}
#customerPhone {
	//border: 3px solid gold;
	padding: 8px 8px 2px 5px;
}
#textEntry {
	//border: 3px solid #52abad;
}
#radioEntry {
	//border: 3px solid darkviolet;
	
}
#customerCat {
	//border: 3px solid skyblue;
	
}


h1 {
	color: #363774;
	font-family: 'Raleway',sans-serif; 
	text-shadow: 3px 2px #8fa5a3, 5px 4px #777;
	letter-spacing: 5px;
	font-size: 42px; 
	font-weight: 300;
	line-height: 38px;
	margin: 12px 0px 24px; 
	text-align: center; 
	text-transform: uppercase; 
}
h1::after {		/* draws a line under the h1 content */
	display: block;
	content: "";
	height: 4px;
	width: 55%;
	background: #2b5b30;
	box-shadow: 18px 2px 8px #2e16fc;
	margin: 12px auto 20px;
}
#myName {
	text-align: right;
	//border: 3px solid orange;
	
	
}
ol, ul {
	list-style-type: none;	
	padding: 0px 5px 0px 5px;
	
}
h3 {
	padding: 0 0 8px 0;
}

label {
	padding: 12px;
}

#textEntry label {
    display: inline-block;
    width: 120px;
    
}
p {
	padding: 15px;
}

#footer {
	text-align: center;
	padding: 25px 0 15px 0;
}	
h2#returnHome a {
	font-size: 20px;
	background-color: none;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: 20;
	}

	/* Standard syntax */
	@keyframes example {
		from {background-color: red;}
		to {background-color: yellow;}
	}