/* // found the double slash works as a single line comment */
/* use # for ID */
/* use . for class */

/* Reset all CSS */
/** 	{
	margin: 0px;
	padding: 0px;
}*/
body {
	//background-color: green;
}	
#container {
	position: relative;
	border: 5px solid red;
	background-color: #dcdccd;
	box-shadow: 0px 0px 45px red;
	margin: 45px auto;
    	width: 80%;
    	padding: 25px;
	
}

h1 {
	color: #363774;
	font-family: 'Raleway',sans-serif; 
	text-shadow: 3px 2px #8fa5a3, 5px 4px #777;
	letter-spacing: 5px;
	font-size: 42px; 
	font-weight: 300;
	line-height: 38px;
	margin: 12px 0px 24px; 
	text-align: center; 
	text-transform: uppercase; 
}
h1::after {		/* draws a line under the h1 content */
	display: block;
	content: "";
	height: 4px;
	width: 55%;
	background: #2b5b30;
	box-shadow: 18px 2px 8px #2e16fc;
	margin: 12px auto 20px;
}
#soupSlowCookerTaco {
	display: none;
}
#soupItalianVegetable {
	display: none;
}
#soupBoilermakerChili {
	display: none;
}
#soupDiannChili {
	display: none;
}

.ingredient {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
li {
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

}
h3 {
	width: 100%;
}




button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
button:active {
	position:relative;
	top:1px;
}







/*


#div1 {
	color: red;
}
#div2 {
	color: green;
}
#div3 {
	color: blue;
}




#projectForm {
	//border: 3px solid green;
	padding: 8px 8px 20px 5px;
}
#customerName {
	//border: 3px solid orange;
	padding: 8px 8px 2px 5px;

}
#customerPhone {
	//border: 3px solid gold;
	padding: 8px 8px 2px 5px;
}
#textEntry {
	//border: 3px solid #52abad;
}
#radioEntry {
	//border: 3px solid darkviolet;
	
}
#customerCat {
	//border: 3px solid skyblue;
	
}



#myName {
	text-align: right;
	//border: 3px solid orange;
	
	
}
ol, ul {
	list-style-type: none;	
	padding: 0px 5px 0px 5px;
	
}
h3 {
	padding: 0 0 8px 0;
}

label {
	padding: 12px;
}

#textEntry label {
    display: inline-block;
    width: 120px;
    
}
p {
	padding: 15px;
}

#footer {
	text-align: center;
	padding: 25px 0 15px 0;
}	
h2#returnHome a {
	font-size: 20px;
	background-color: none;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: 20;
	}

	/* Standard syntax *//*
	@keyframes example {
		from {background-color: red;}
		to {background-color: yellow;}
	}
*/