#myForm {
	/*display: inline-block;	*/			/*  This puts them side by side horizontally */
	vertical-align: top;              /*   This keeps the second div at the top when date is selected on the first div */
	width: 300px;			
	//background-color: #0EE;
	padding: 15px;

}

label, input, span { 
	margin: 5px;
}
	  
.error  {
	color:red; font-style:italic;
}
.white, .white a {
  color: #fff;
}