
/* # is used to select an elements ID
   . is used to select an element CLASS   */

/*#container {
	width: 800px;
    height: auto;
    background: #e7ebeb;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: auto;
    text-align: left;
    padding: 10px;
}*/



.ticket {
	display: inline-block;				/*  This puts them side by side horizontally */
	vertical-align: top;              /*   This keeps the second div at the top when date is selected on the first div */
	width: auto;					
	background-color: #eee3ea;
	padding: 5px;
}
.row {
	padding: 2px;
}





#myButton {
	margin-bottom: 8px;
}
.big {
	font-size: 30px;
}
#display {
	width: 250px;
	height: 150px;
	border: 1px dashed;
}
.inputField {
	font-family: Monospace, Times, serif;
	width: auto;
}
.resultField {
	font-family: Monospace, Times, serif;
	width: auto;
	height: auto;
	border: 1px dashed;
}





/*li:hover {
    color:#fc2210;
    background-color: #6c6cff;
    font-family: Impact, Charcoal, sans-serif
} */

#name_list_id {
	color: green;
	font-family: Monospace, Times, serif;
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
}

.name {
	font-family: Monospace, Times, serif;
	width: 250px;
}

#name_list_id {
	display: inline-block;				/*  This puts them side by side horizontally */
	vertical-align: top;              /*   This keeps the second div at the top when date is selected on the first div */
	width: auto;					
	background-color: #EEE;
	padding: 1px;

	}	

#suggest {
	position: absolute;
	top: 23px;
	right: 0px;
	z-index: 1;
	text-align: left;
	
}

