#nameBox {
	position: relative;
	text-align: right;
	top: 5px;
	right: 1px;
	//background-color: #93c6ff;
}
#container {
	width: 800px;
    height: auto;
    //background: #e7ebeb;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: auto;
    text-align: left;
    padding: 10px;
}
.resultFieldx {
	font-family: Monospace, Times, serif;
	//width: 270px;
	height: auto;
	border: 1px dashed;
	display: none;
	position: absolute;
	margin-left: 5px;
	background-color: #D3D3D3;
	overflow: auto;
}
.resultField li	{
	position: relative;
	list-style-type: none;
	cursor: pointer; cursor: hand;     /* turns mouse pointer into a hand  */
	//background-color: #e4e4b0;
	font-family: Monospace, Times, serif;
	
}
.resultField li:hover	{
	position: relative;
	list-style-type: none;
	cursor: pointer; cursor: hand;     /* turns mouse pointer into a hand  */
	background-color: #BB00AA;
	font-family: Monospace, Times, serif;
	
}
.resultField ul {
	width: auto;
	height: auto;
	background-color: #e4e4b0;
	margin: 0px;
	//border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    list-style: disc outside none;
    padding: 0px 0px 0px 0px;	/* top right bottom left*/
}