<!-- <div id="soupItalianVegetable"> -->

<div ng-app>

    <div class="heading">
        <h3>Italian Vegetable Soup</h3>
        <table>
            <tr>
                <td><img src="img/ItalianVegetableSoup.jpg" alt="Italian Vegetable Soup" height="80%" width="80%"></td>
            </tr>
        </table>
        <h3>Serves 8</h3>
        <h3>Prep / Cook Time: 1 hours 10 minutes</h3>
    </div>

    <h3 class="ingredient">Ingredients</h3>
    <div class="ingredient">
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ul>
                    <li>1 pound ground beef</li>
                    <li>1 cup chopped onion</li>
                    <li>1 cup chopped celery</li>
                    <li>1 cup chopped carrots</li>
                    <li>2 cloves garlic, minced</li>
                    <li>1 (14.5 ounce) can peeled and diced tomatoes</li>
                    <li>1 (15 ounce) can tomato sauce</li>
                    <li>2 (19 ounce) cans kidney beans, drained and rinsed</li>
                    <li>2 cups water</li>
                    <li>5 teaspoons beef bouillon granules</li>
                    <li>1 tablespoon dried parsley</li>
                    <li>1/2 teaspoon dried oregano</li>
                    <li>1/2 teaspoon dried basil</li>
                    <li>2 cups chopped cabbage</li>
                    <li>1 (15.25 ounce) can whole kernel corn</li>
                    <li>1 (15 ounce) can green beans</li>
                    <li>1 cup macaroni</li>
                </ul>  
            </div>
        </div>
    </div>

    <div class="directions" id="directionsItalianVegetable" style="display: block;">
    <h3>Directions</h3>
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ol>
                    <li>Place ground beef in a large soup pot. Cook over medium heat until evenly browned. Drain excess fat. Stir in onion, celery, carrots, garlic, chopped tomatoes, tomato sauce, beans, water and bouillon. Season with parsley, oregano and basil. Simmer for 20 minutes.</li>
                    <li>Stir in cabbage, corn, green beans and pasta. Bring to a boil, then reduce heat. Simmer until vegetables are tender and pasta is al dente. Add more water if needed.></li>
                </ol>
            </div>
        </div>
    </div>
</div>