<!-- <div id="soupDiannChili"> -->

<div ng-app>

    <div class="heading">
        <h3>Diann's Chili Vegetable Soup</h3>
        <table>
            <tr>
                <td><img src="img/DiannSoup.jpg" alt="Diann's Chili Vegetable Soup" height="80%" width="80%"></td>
            </tr>
        </table>
        <h3>Serves 6</h3>
        <h3>Prep / Cook Time: 1 hours 30 minutes</h3>
    </div>
    <h3 class="ingredient">Ingredients</h3>
    <div class="ingredient">
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ul>
                    <li>5 ounces ground beef</li>
                    <li>7/8 stalk celery, chopped</li>
                    <li>1/4 onion, chopped</li>
                    <li>1/8 green bell pepper, chopped</li>
                    <li>1/8 small head cabbage, chopped</li>
                    <li>1/2 (15 ounce) can kidney beans</li>
                    <li>3/4 cup and 2 teaspoons tomato-vegetable juice cocktail</li>
                    <li>1/8 (46 fluid ounce) can tomato juice</li>
                    <li>1/4 (15 ounce) can whole kernel corn, drained</li>
                    <li>5/8 (14.5 ounce) can diced tomatoes</li>
                    <li>1-1/4 teaspoons chili powder</li>
                    <li>1/8 teaspoon garlic powder</li>
                    <li>salt and pepper to taste</li>
                </ul>  
            </div>
        </div>
    </div>

    <div class="directions">
    <h3>Directions</h3>
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ol>
                    <li>In a large soup pot, saute ground beef until brown. Drain excess fat.</li>
                    <li>Add celery, onions, green bell peppers, cabbage, kidney beans, vegetable juice, tomato juice, corn, diced tomatoes and chili powder. Bring to a boil, then reduce heat to low. Cover pot and let simmer about one hour, or until celery is tender. Add garlic powder and salt and pepper to taste.</li>
                </ol>
            </div>
        </div>
    </div>
</div>