<!-- <div id="soupBoilermakerChili"> -->

<div ng-app>

    <div class="heading">
        <h3>Boilermaker Tailgate Chili</h3>
        <table>
            <tr>
                <td><img src="img/BoilermakerChili.jpg" alt="Boilermaker Tailgate Chili" height="80%" width="80%"></td>
            </tr>
        </table>
        <h3>Serves 6</h3>
        <h3>Prep / Cook Time: 2 hours 30 minutes</h3>
    </div>

    <h3 class="ingredient">Ingredients</h3>
    <div class="ingredient">
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ul>
                <li>1 pound ground beef chuck</li>
                    <li>1/2 pound bulk Italian sausage</li>
                    <li>1-1/2 (15 ounce) cans chili beans, drained</li>
                    <li>1/2 (15 ounce) can chili beans in spicy sauce</li>
                    <li>1 (28 ounce) can diced tomatoes with juice</li>
                    <li>1/2 (6 ounce) can tomato paste</li>
                    <li>1/2 large yellow onion, chopped</li>
                    <li>1-1/2 stalks celery, chopped</li>
                    <li>1/2 green bell pepper, seeded and chopped</li>
                    <li>1/2 red bell pepper, seeded and chopped</li>
                    <li>1 green chile peppers, seeded and chopped</li>
                    <li>1-1/2 teaspoons bacon bits</li>
                    <li>2 cubes beef bouillon</li>
                    <li>1/4 cup beer</li>
                    <li>2 tablespoons chili powder</li>
                    <li>1-1/2 teaspoons Worcestershire sauce</li>
                    <li>1-1/2 teaspoons minced garlic</li>
                    <li>1-1/2 teaspoons dried oregano</li>
                    <li>1 teaspoon ground cumin</li>
                    <li>1 teaspoon hot pepper sauce (e.g. Tabasco(TM))</li>
                    <li>1/2 teaspoon dried basil</li>
                    <li>1/2 teaspoon salt</li>
                    <li>1/2 teaspoon ground black pepper</li>
                    <li>1/2 teaspoon cayenne pepper</li>
                    <li>1/2 teaspoon paprika</li>
                    <li>1/2 teaspoon white sugar</li>
                    <li>1/2 (10.5 ounce) bag corn chips such as Fritos(R)</li>
                    <li>1/2 (8 ounce) package shredded Cheddar cheese</li>
                </ul>  
            </div>
        </div>
    </div>

    <div class="directions">
    <h3>Directions</h3>
        <div ng-controller="MyCtrl">
        <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
                <ol>
                    <li>Heat a large stock pot over medium-high heat. Crumble the ground chuck and sausage into the hot pan, and cook until evenly browned. Drain off excess grease.</li>
                    <li>Pour in the chili beans, spicy chili beans, diced tomatoes and tomato paste. Add the onion, celery, green and red bell peppers, chile peppers, bacon bits, bouillon, and beer. Season with chili powder, Worcestershire sauce, garlic, oregano, cumin, hot pepper sauce, basil, salt, pepper, cayenne, paprika, and sugar. Stir to blend, then cover and simmer over low heat for at least 2 hours, stirring occasionally.</li>
                    <li>After 2 hours, taste, and adjust salt, pepper, and chili powder if necessary. The longer the chili simmers, the better it will taste. Remove from heat and serve, or refrigerate, and serve the next day.</li>
                    <li>To serve, ladle into bowls, and top with corn chips and shredded Cheddar cheese. </li>
                </ol>
            </div>
        </div>
    </div>
</div>