<!-- <div id="soupSlowCookerTaco"> -->

<div ng-app>
    <div class="heading">
        <h3>Slow Cooker Taco Soup</h3>
        <table>
            <tr>
                <td><img src="img/SlowCookerTacoSoup.jpg" alt="Slow Cooker Taco Soup" height="80%" width="80%"></td>
            </tr>
        </table>

        <h3>Serves 12</h3>
        <h3>Prep / Cook Time: 8 hours 10 minutes</h3>
    </div>


    <h3 class="ingredient">Ingredients</h3>
    <div ng-controller="MyCtrl">
    <button ng-click="toggle()">Click - ingredient list</button>
        <div ng-show="visible">
        <ul>
            <li>1-1/2 pounds ground beef</li>
            <li>1-1/2 onion, chopped</li>
            <li>1-1/2 (16 ounce) cans chili beans, with liquid</li>
            <li>1-1/2 (15 ounce) cans kidney beans with liquid</li>
            <li>1-1/2 (15 ounce) cans whole kernel corn, with liquid</li>
            <li>1-1/2 (8 ounce) cans tomato sauce</li>
            <li>3 cups water</li>
            <li>3 (14.5 ounce) cans peeled and diced tomatoes</li>
            <li>1-1/2 (4 ounce) cans diced green chile peppers</li>
            <li>1-1/2 (1.25 ounce) packages taco seasoning mix</li>
        </ul> 
        </div>
    </div>

    <div class="preparation">
        <div class="directions">
            <h3>Directions</h3>
            <div ng-controller="MyCtrl">
            <button ng-click="toggle()">Click - ingredient list</button>
            <div ng-show="visible">
            <ol>
                <li>In a medium skillet, cook the ground beef until browned over medium heat. Drain, and set aside.</li>
                <li>Place the ground beef, onion, chili beans, kidney beans, corn, tomato sauce, water, diced tomatoes, green chile peppers and taco seasoning mix in a slow cooker. Mix to blend, and cook on Low setting for 8 hours.until vegetables are tender and pasta is al dente. Add more water if needed.</li>
            </ol>
            </div>
            </div>
    </div>
</div>